body {
    background: #ffffff;
    color: #0f141e;

    font-size: 16px;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.card {
    padding: 24px;
    background: rgb(238, 238, 255);
    margin-bottom: 24px;
    border-radius: 24px;
}

.card h2 {
    margin: 0;
    margin-bottom: 8px;
}

.list {
    padding: 0 0;
    margin: 0;
    list-style: none;
}

.list li {
    margin-bottom: 4px;
}

a:hover {
    color: #707070;
}

a:active {
    color: rgb(0, 116, 116);
}

a {
    color: black;
    text-decoration: none;
}

p {
    color: #474747;
} 
.avatar {
    width: 200px;
    border-radius: 24px;
}


.info {
    margin-bottom: 48px;
}

.info p {
    margin: 0;
    font-style: normal;
}

.table {
    text-align: left;
    width: 100%;
    border: 1px solid #0f141e;
    border-radius: 24px;
    padding: 24px;
}

.contact {
    text-align: left;
}

.form-group label {
    display: block;
    font-style: 16px;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
    color:#0f141e;
    padding: 12px;
}

/* box model */

.container {
max-width: 800px;
margin: 0px 96px;
}

